body {
    background-color: #890009;
}

.input-field {
background-color: #ffffff;
}

.material-icons {
color: #890009;
}

/* Isabella's Restaurant Finder */
h1 {
    color: #ffffff;
}

/* Search a city and get suggestions! */
h3 {
    color: #ffffff;
}

/* Hit enter to view results */
h4 {
    color: #ffffff;
}

/* Showing # results from Place */
h5 {
    color: #ffffff;
}
