body {
    background-color: #FFF0C9;
}

.input-field {
background-color: #e0f7fa;
}

.material-icons {
color: #009688;
}

h1 {
    color: #00695c
}

h3 {
    color: #00897b;
}

h4 {
    color: #26a69a;
}
